// seletores {
//     propriedades: valor;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Selecionando por tag
img {
  width: 300px;
}

//Selecionando por classe
.card {
    background-color: red;
    border: 10px solid blue;
}

//Selecionando por ID
#btn2 {
    background-color: green;
}